# dependencies
/node_modules
/.pnp
.idea
.pnp.js

# testing
/coverage
/storybook-static
.loki/report.html
.loki/report.json
/reports

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
