.AddCommentForm {
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-top: 10px;
}

.input {
    flex-grow: 1;
}

.btn {
    margin-left: 10px;
}
