.app.dark {
    --bg-color: rgb(7 7 161 / 66.2%);
    --inverted-bg-color: rgb(199 199 232);
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
