.app_dark_theme {
    --bg-color: rgb(7 7 161 / 66.2%);
    --inverted-bg-color: rgb(199 199 232);
    --primary-color: #04ff04;
    --secondary-color: #0ac40a;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: rgb(37 37 200 / 66%);

    // card
    --card-bg: rgb(31 31 197 / 66%);

    // listbox
    --listbox-bg: rgb(31 31 197 / 66%);
}
