:root {
    --bg-color: rgb(199 199 232);
    --inverted-bg-color: rgb(7 7 161 / 66.2%);
    --primary-color: rgb(53 30 169);
    --secondary-color: rgb(0 21 255);
    --inverted-primary-color: rgb(81 108 81);
    --inverted-secondary-color: rgb(0 255 0);
}
