:root {
    --bg-color: rgb(199, 199, 232);
    --inverted-bg-color: rgba(7, 7, 161, 0.662);

    --primary-color: rgb(53, 30, 169);
    --secondary-color: rgb(0, 21, 255);
    --inverted-primary-color: rgb(81, 108, 81);
    --inverted-secondary-color: rgb(0, 255, 0);
}
